<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.herrlado.ask.languagepack.slovak"
    android:versionCode="13"
    android:versionName="20130114-qwertz" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="19" >
    </uses-sdk>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:debuggable="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <receiver
            android:name=".KeyboardBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.menny.android.anysoftkeyboard.KEYBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.menny.android.anysoftkeyboard.DICTIONARY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />

                <intent-filter>
                    <action android:name="com.menny.android.anysoftkeyboard.api.NOTIFY_LAYOUT_SWITCH" />
                </intent-filter>
            </intent-filter>

            <meta-data
                android:name="com.menny.android.anysoftkeyboard.keyboards"
                android:resource="@xml/keyboards" />
            <meta-data
                android:name="com.menny.android.anysoftkeyboard.dictionaries"
                android:resource="@xml/dictionaries" />
        </receiver>
    </application>

    <!-- http://d.android.com/guide/practices/screens_support.html read about legacy. -->

</manifest>